@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<div>
    <img src="/images/bg1.jpg" style="width:100%;"/>
</div>
<div class="text-white">
    <h1>Let's me introduce myself</h1>
    <p>Hi my name is Nattapong Kaenkrathoke</p>
    <p>I start this "Portfolio" Project on 5/30/2024</p>
    <hr />
</div>
