@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<h1 class="text-white">Hello This is Test Page</h1>